.customNavbarStyles {
    background-color: transparent !important;
    .container {
        border-bottom: 1px solid rgb(255 255 255 / 25%);
        width: 95%;
        padding: 20px;
    }
    .paw {
        color: #ffffff !important;
        font-size: 45px;
    }
    .navLink{
        color: #ffffff !important;
        font-size: 22px;
        font-weight: 700;
        margin: 0 30px;
        @media screen and (max-width:1178px) {
            margin: 0 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 19px;
        }
    }
    .active {
        color: #ffffffb8 !important;
        font-size: 22px;
        font-weight: 700;
        margin: 0 30px;
        @media screen and (max-width:1178px) {
            margin: 0 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 19px;
        }
    }
}
.inputSearch{
    outline: none;
    background: transparent;
    border: 2px solid #333333;
    width: 70%;
    padding: 15px;
    color: #ffffff;
    margin: 0 3% 0 0;
    border-radius: 15px;
}
.inputSearch::placeholder {
    color: #f0f8ff;
    font-weight: 600;
}
.inputSearchMain {
    margin: 0;
    padding: 20px;
    @media screen and (max-width:1218px) {
        width: 60%;
        margin: 15px 0 0 0;
        width: 100%;
    }
}
.iconWrapper {
    width: 100%;
    display: block;
    text-align: end;
    .animationInput {
        transition: opacity 0.3s ease-in-out; 
        opacity: 0; 
    }
    .inputVisible {
        opacity: 1; 
    }
    .activeSearch {
        color:  #333333;
    }
    .ico {
        font-size: 25px;
        margin-right: 35px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        @media screen and (max-width:1178px) {
            margin-right: 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 22px;
            margin-right: 19px;
        }
        @media screen and (max-width:491px) {
            font-size: 17px;
            margin-right: 10px;
        }
    }
    .ico:last-child {
        margin-right: 0;
    }
}
.toggleMenu {
    background-color: #ffffff;
}

.wrapper{
    position: relative;
    height: 100vh;
    justify-content: center;
    display: flex;
    .digi {
        position: absolute;
        width: 350px;
        height: 350px;
        top: 35%;
        left: 12%;
        transform: translate(-50%, -50%);
        @media screen and (max-width:1633px) {
            width: 250px;
            height: 250px;
        }
        @media screen and (max-width:1218px) {
            opacity: 0;
        }
        &.secPosition{
            top: unset;
            bottom: 15%;
            right: 10%;
            left: unset;
            transform: unset;
            @media screen and (max-width:1950px) {
                right: 7%;
            }
            @media screen and (max-width:1218px) {
                opacity: 1;
                z-index: -2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (max-width:1633px) {
                right: 4%;
            }
        }
    }
    .mainWrapper {
        width: 45%;
        text-align: center;
        display: block;
        margin: auto;
        @media screen and (max-width:1218px) {
            width: 75%;
        }
        .title {
            font-size: 72px;
            @media screen and (max-width:1633px) {
                font-size: 62px;
            }
            @media screen and (max-width:500px) {
                font-size: 52px;
            }
        }
        .searchMainWrapper {
            position: relative;
            margin-top: 125px;
            .iconSearchMain {
                position: absolute;
                top: 50%;
                right: 25%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                @media screen and (max-width:1950px) {
                    right: 27%;
                }
                @media screen and (max-width:1633px) {
                    right: 30%;
                }
                @media screen and (max-width:1260px) {
                    right: 33%;
                }
                @media screen and (max-width:1218px) {
                    right: 4%;
                    top: 30%;
                }
            }
        }
        .searchBtn {
            background-color: #000000;
            color: #ffffff;
            border: none;
            padding: 20px 40px;
            display: inline-block;
            margin-left: 18px;
            font-size: 21px;
            font-weight: 600;
            border-radius: 15px;
            cursor: pointer;
            @media screen and (max-width:1218px) {
                width: 60%;
                margin: 15px 0 0 0;
            }
        }
    }
}
.titleCategories {
    font-size: 45px;
    text-align: center;
    padding: 35px;
    margin: 0;
}
.swiperWrapper {
    margin-bottom: 100px;
    .slide {
        text-align: center;
        padding: 30px;
        border: 2px solid rgb(22, 22, 22);
        &.active {
            color: rgba(255, 255, 255, 0.7215686275);
        }
    }
    .slide:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7215686275);
        border: 2px solid rgba(255, 255, 255, 0.7215686275);
    }
    .categoryIcon {
        font-size: 33px;
        margin: 15px;
    }
}
.searchTitle{
    font-size: 45px;
    text-align: center;
    padding: 35px;
    margin: 0;
}
.noSearch {
    font-size: 45px;
    text-align: center;
    padding: 35px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7215686275);
}
.productWrapper {
    display: flex;
    justify-content: center;
    .product {
        margin-right: 50px;
        cursor: pointer;
        .poductImg {
            width: 200px;
            height: 200px;
            border-radius: 12px;
            margin-bottom: 10px;
        }
    }
}

.formWrapper {
    width: 60%;
    display: block;
    margin: auto;
    padding: 0 40px;
    @media screen and (max-width: 1180px) {
        width: 80%;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }
    .formInputWrapper {
        .input {
            margin: 10px 0;
            height: 65px;
            font-weight: 800;
            font-size: 19px;
            color: #000000;
            border: 0;
            &.login{
                width: 50%;
                margin: 20px auto;
                @media screen and (max-width: 940px) {
                    width: 70%;
                }
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
        .inputError {
            margin: 10px 0;
            height: 65px;
            font-weight: 800;
            font-size: 19px;
            color: #ca1f1f;
            border: 2px solid #ca1f1f;
        }
    }
    .formButton {
        width: 170px;
        display: block;
        height: 65px;
        margin: 25px auto;
        font-weight: 800;
        font-size: 19px;
    }
}
@keyframes showMsg {
    0% {
        opacity: 0.6;
        margin: 25px auto;
    }
    50% {
        opacity: 1;
        margin: 25px auto;
    }
    100% {
        opacity: 0;
        margin: 25px auto;
    }
}

.formMsg {
    display: block;
    opacity: 0;
    text-align: center;
    width: 20%;
    margin: auto;
    font-size: 25px;
    padding: 12px;
    font-weight: 600;
}

.showFormMsg {
    animation: showMsg 10s ease-in;
}


.error {
    background: #ca1f1f;
}
.success {
    background: #1fca27;
    width: 40%;
}