.customNavbarStyles {
    background-color: transparent !important;
    .paw {
        color: #ffffff !important;
        font-size: 45px;
    }
    .navLink{
        color: #ffffff !important;
        font-size: 22px;
    }
}