.customNavbarStyles {
    background-color: transparent !important;
    .container {
        border-bottom: 1px solid rgb(255 255 255 / 25%);
        width: 95%;
        padding: 20px;
    }
    .paw {
        color: #ffffff !important;
        font-size: 45px;
    }
    .navLink{
        color: #ffffff !important;
        font-size: 22px;
        font-weight: 700;
        margin: 0 30px;
        @media screen and (max-width:1178px) {
            margin: 0 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 19px;
        }
    }
    .active {
        color: #333333 !important;
        font-size: 22px;
        font-weight: 700;
        margin: 0 30px;
        @media screen and (max-width:1178px) {
            margin: 0 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 19px;
        }
    }
}
.inputSearch{
    outline: none;
    background: transparent;
    border: 2px solid #333333;
    width: 70%;
    padding: 15px;
    color: #ffffff;
    margin: 0 3% 0 0;
    border-radius: 15px;
}
.inputSearch::placeholder {
    color: #f0f8ff;
    font-weight: 600;
}
.inputSearchMain {
    margin: 0;
    padding: 20px;
    width: 40%;
}
.iconWrapper {
    width: 100%;
    display: block;
    text-align: end;
    .animationInput {
        transition: opacity 0.3s ease-in-out; 
        opacity: 0; 
    }
    .inputVisible {
        opacity: 1; 
    }
    .activeSearch {
        color:  #333333;
    }
    .ico {
        font-size: 25px;
        margin-right: 35px;
        cursor: pointer;
        @media screen and (max-width:1178px) {
            margin-right: 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 22px;
            margin-right: 19px;
        }
        @media screen and (max-width:491px) {
            font-size: 17px;
            margin-right: 10px;
        }
    }
    .ico:last-child {
        margin-right: 0;
    }
}
.toggleMenu {
    background-color: #ffffff;
}

.mainWrapper {
    width: 45%;
    text-align: center;
    display: block;
    margin: auto;
    .title {
        font-size: 72px;
    }
    .searchMainWrapper {
        position: relative;
        .iconSearchMain {
            position: absolute;
            top: 50%;
            right: 38%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }
    .searchBtn {
        background-color: #000000;
        color: #ffffff;
        border: none;
        padding: 20px 40px;
        display: inline-block;
        margin-left: 18px;
        font-size: 21px;
        font-weight: 600;
        border-radius: 15px;
        cursor: pointer;
    }
}