.customNavbarStyles {
    background-color: transparent !important;
    .container {
        border-bottom: 1px solid rgb(255 255 255 / 25%);
        width: 98%;
        padding: 20px;
    }
    .paw {
        color: #ffffff !important;
        font-size: 45px;
    }
    .navLink{
        color: #ffffff !important;
        font-size: 22px;
        font-weight: 700;
        margin: 0 30px;
        @media screen and (max-width:1178px) {
            margin: 0 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 19px;
        }
    }
    .active {
        color: #ffffffb8 !important;
        font-size: 22px;
        font-weight: 700;
        margin: 0 30px;
        @media screen and (max-width:1178px) {
            margin: 0 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 19px;
        }
    }
}
.inputSearch{
    outline: none;
    background: transparent;
    border: 2px solid #333333;
    width: 70%;
    padding: 15px;
    color: #ffffff;
    margin: 0 3% 0 0;
    border-radius: 15px;
}
.inputSearch::placeholder {
    color: #f0f8ff;
    font-weight: 600;
}
.inputSearchMain {
    margin: 0;
    padding: 20px;
    @media screen and (max-width:1218px) {
        width: 60%;
        margin: 15px 0 0 0;
        width: 100%;
    }
}
.iconWrapper {
    width: 100%;
    display: contents;
    .animationInput {
        transition: opacity 0.3s ease-in-out; 
        opacity: 0; 
    }
    .inputVisible {
        opacity: 1; 
    }
    .activeSearch {
        color:  #333333;
    }
    .shoppingWraper {
        position: relative;
        .counter {
            position: absolute;
            color: #ffffff;
            bottom: 103%;
            left: 15%;
            width: 35px;
            height: 20px;
            border-radius: 35px;
            background-color:rgb(243, 45, 45);
            justify-content: center;
            display: flex;
            place-items: center;
        }
    }
    .m0 {
        margin-right: 0 !important;
    }
    .ico {
        font-size: 25px;
        margin-right: 35px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        @media screen and (max-width:1178px) {
            margin-right: 15px;
            font-size: 15px;
        }
        @media screen and (max-width:991px) {
            font-size: 22px;
            margin-right: 19px;
        }
        @media screen and (max-width:491px) {
            font-size: 17px;
            margin-right: 10px;
        }
        &.logOut {
            margin-left: 35px;
        }
    }
    .ico:last-child {
        text-decoration: none;
        margin-right: 0;
    }
}
.toggleMenu {
    background-color: #ffffff;
}

.wrapper{
    position: relative;
    height: 100vh;
    justify-content: center;
    display: flex;
    .digi {
        position: absolute;
        width: 350px;
        height: 350px;
        top: 35%;
        left: 12%;
        transform: translate(-50%, -50%);
        @media screen and (max-width:1633px) {
            width: 250px;
            height: 250px;
        }
        @media screen and (max-width:1218px) {
            opacity: 0;
        }
        &.secPosition{
            top: unset;
            bottom: 15%;
            right: 10%;
            left: unset;
            transform: unset;
            @media screen and (max-width:1950px) {
                right: 7%;
            }
            @media screen and (max-width:1218px) {
                opacity: 1;
                z-index: -2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (max-width:1633px) {
                right: 4%;
            }
        }
    }
    .mainWrapper {
        width: 45%;
        text-align: center;
        display: block;
        margin: auto;
        @media screen and (max-width:1218px) {
            width: 75%;
        }
        .title {
            font-size: 72px;
            @media screen and (max-width:1633px) {
                font-size: 62px;
            }
            @media screen and (max-width:500px) {
                font-size: 52px;
            }
        }
        .searchMainWrapper {
            position: relative;
            margin-top: 125px;
            .iconSearchMain {
                position: absolute;
                top: 50%;
                right: 25%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                @media screen and (max-width:1950px) {
                    right: 27%;
                }
                @media screen and (max-width:1633px) {
                    right: 30%;
                }
                @media screen and (max-width:1260px) {
                    right: 33%;
                }
                @media screen and (max-width:1218px) {
                    right: 4%;
                    top: 30%;
                }
            }
        }
        .searchBtn {
            background-color: #000000;
            color: #ffffff;
            border: none;
            padding: 20px 40px;
            display: inline-block;
            margin-left: 18px;
            font-size: 21px;
            font-weight: 600;
            border-radius: 15px;
            cursor: pointer;
            @media screen and (max-width:1218px) {
                width: 60%;
                margin: 15px 0 0 0;
            }
        }
    }
}
.titleCategories {
    font-size: 45px;
    text-align: center;
    padding: 35px;
    margin: 0;
}
.swiperWrapper {
    margin-bottom: 100px;
    .slide {
        text-align: center;
        padding: 30px;
        border: 2px solid rgb(22, 22, 22);
        &.active {
            color: rgba(255, 255, 255, 0.7215686275);
            border: 2px solid rgba(255, 255, 255, 0.7215686275);
        }
    }
    .slide:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7215686275);
        border: 2px solid rgba(255, 255, 255, 0.7215686275);
    }
    .categoryIcon {
        font-size: 33px;
        margin: 15px;
    }
}
.searchTitle{
    font-size: 45px;
    text-align: center;
    padding: 35px;
    margin: 0;
}
.noSearch {
    font-size: 45px;
    text-align: center;
    padding: 35px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7215686275);
}
.productWrapper {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    .product {
        margin-right: 50px;
        position: relative;
        cursor: pointer;
        &:hover .addWrapperButton {
            opacity: 1;
        }
        @keyframes animateAdding {
            0% {
                top: 50%;
                opacity: 1;
            }
            25% {
                top: 55%;
            }
            50% {
                top: 65%;
            }
            75% {
                top: 50%;
                opacity: 0.6;
            }
            100% {
                top: 20%;
                opacity: 0;
            }
        }
        .addWrapperButton {
            position: absolute;
            bottom: 17%;
            left: 0;
            height: 35%;
            width: 100%;
            background-color: #9f9f9fbd;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 70px;
            opacity: 0;
            transition: opacity 0.8s ease;
        }
        .addingAnimation {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 20px;
            background-color: rgb(243, 45, 45);
            width: 25px;
            height: 25px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
        }
        .productImg {
            width: 200px;
            height: 200px;
            border-radius: 12px;
            margin-bottom: 10px;
        }
    }
}


.formWrapper {
    // width: 60%;
    // display: block;
    // margin: auto;
    // padding: 0 40px;
    &.registration, &.login {
        background: #282828;
        padding: 40px 30px;
        width: 25%;
        display: block;
        border-radius: 25px;
        margin: auto;

        @media screen and (max-width: 1180px) {
            width: 80%;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
    .formInputWrapper {
        .label {
            font-size: 20px;
            font-weight: 700;
        }
        .input {
            background: transparent;
            color: #ffffff;
            border: none;
            border-bottom: 1px solid #3a3a3a;
            height: 45px;
            outline: none;
            box-shadow: none;
            padding: 0;
            border-radius: 0;
            font-size: 18px;
            
            // color: #000000;
            // border: 0;
            // &.login{
            //     width: 50%;
            //     margin: 20px auto;
            //     @media screen and (max-width: 940px) {
            //         width: 70%;
            //     }
            //     @media screen and (max-width: 600px) {
            //         width: 100%;
            //     }
            // }
        }
        .input::placeholder{
            color: #ffffff;
            font-size: 14px;
        }
        .inputError {
            height: 45px;
            font-size: 19px;
            color: #ca1f1f;
            border-bottom: 1px solid #ca1f1f;
        }
    }
    .formButton {
        background: rgb(28, 28, 28);
        border-color: rgb(28, 28, 28);
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        margin-top: 50px;
        width: 100%;
        padding: 11px;
    }
}
@keyframes showMsg {
    0% {
        opacity: 0.6;
        margin: 25px auto;
    }
    50% {
        opacity: 1;
        margin: 25px auto;
    }
    100% {
        opacity: 0;
        margin: 25px auto;
    }
}

.formMsg {
    display: block;
    opacity: 0;
    text-align: center;
    width: 20%;
    margin: auto;
    font-size: 25px;
    padding: 12px;
    font-weight: 600;
}

.showFormMsg {
    animation: showMsg 10s ease-in;
}


.error {
    color: #ca1f1f;
}
.success {
    color: #1fca27;
    width: 40%;
}

.tableWrapper {
    background: #282828;
    margin-left: 2%;
    padding: 40px 30px;
    border-radius: 25px;
    margin-top: 70px;
    margin-bottom: 70px;
    &.orderPage {
        margin-right: 2%;
    }
    .title {
        font-weight: 700;
        margin-bottom: 40px;
    }
    .backBtn {
        border: 2px solid #ffffff;
        background: transparent;
        color: #ffffff;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        padding: 15px;
    }
    .backBtn:hover {
        transition: background-color 0.5s ease-in, font-weight 0.2s ease-in, color 0.5s ease-in, border 0.1s ease-in;
        background-color: #ffffff;
        color: #000000;
        font-size: 20px;
        font-weight: 900;
        border: 2px solid #000000;
    }
    .tableCustom {
        width: 100%;
    }
    .th {
        padding: 5px;
        &.price {
            min-width: 190px;
        }
    }
    .td {
        min-width: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        &.remove {
        font-size: 30px;
        min-width: 50px;
        cursor: pointer;
        }
        &.remove:hover {
            color: #696464
        }

    }
}

.productList {
    .product {
        padding: 10px;
        .imgProduct {
            width: 100px;
            height: 100px;
            border-radius: 12px;
            margin-bottom: 10px;
        }
        .name {
            margin: 0 20px;
            text-transform: capitalize;
        }
    }
}
.paymentInfoWrapper {
    width: 50%;
    display: block;
    margin: auto;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
    .info {
        background-color: #282828;
        margin-left: 2%;
        padding: 40px 30px;
        border-radius: 25px;
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
    }
}
.borderBottom {
border-bottom: 1px solid #3a3a3a;
    .amountBtn {
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 25px;
        width: 40px;
    }
}
.orderSumContainer {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    .text {
        padding: 20px 0 0 0;
    }
    .cost {
        
        padding: 20px 0 0 0;
        width: 200px;
    }
}
.formOrderWrapper {
    background: #282828;
    padding: 40px 30px;
    border-radius: 25px;
    width: 98%;
    margin-top: 70px;
    margin-bottom: 70px;
    float: inline-start;
    .title {
        font-weight: 700;
    }
}

.selectAccountWrapper {
    display: flex;
    place-content: space-around;
    flex-direction: column;
    margin: auto;
    height: 800px;
    background: #282828;
    padding: 40px 30px;
    border-radius: 25px;
    width: 98%;
    float: inline-start;
    .title {
        font-weight: 700;
        margin-bottom: 40px;
    }
}

.backBtn {
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    border-radius: 25px;
    width: 180px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
}
.backBtn:hover {
    transition: background-color 0.5s ease-in, font-weight 0.2s ease-in, color 0.5s ease-in, border 0.1s ease-in;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    width: 185px;
    border: 2px solid #000000;
}

.paginationWrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    .pagination {
        border: 2px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
        background: transparent;
        border-radius: 12px;
        align-content: center;
        text-align: center;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        &:hover {
            transition: background-color 0.5s ease-in, font-weight 0.2s ease-in, color 0.5s ease-in, border 0.1s ease-in;
            background-color: #ffffff;
            color: #000000;
            font-size: 20px;
            font-weight: 900;
            width: 40px;
            height: 40px;
            border: 2px solid #000000;
        }
    }
    .active {
        background-color: #ffffff;
        color: #000000;
        font-size: 20px;
        font-weight: 900;
        width: 40px;
        height: 40px;
        border: 2px solid #000000;
    }
}