.infoWeatherWrapper {
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 90%;
}
.weatherIcon {
    width: 96px;
    height: 96px;
    display: block;
    margin: auto;
}
.weatherInfoContainer {
    margin-right: 10px;
}
.title {
    margin-bottom: 24px;
}
.margin0 {
    margin: 0;
}
.temp {
    font-size: 25px;
    font-weight: 600;
}
.info {
    font-size: 12px;
    font-weight: 500;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    .infoWeatherWrapper {
        display: flex;
        background-color: #2f2f2f;
        color: #ffffff;
        width: 45%;
        margin: 15px 15px 15px 0;
        border-radius: 25px;
        @media screen and (max-width:767px) {
            width: 100%;
        }
    }
    .iconStyle {
        font-size: 22px;
        display: flex;
        margin: 0 20px 0 20px;
    }
    .weatherDetailsWrapper {
        padding: 5px;
    }
    .boxTitle {
        font-size: 1.5rem;
        @media screen and (max-width:1199px) {
            font-size: 1.2rem;
        }
    }
    .boxValue {
        font-weight: 500
    }
}
.forecastCurrentDayWrapper{
    cursor: pointer;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    border-radius: 25px;
    padding: 15px 0;
    max-height: 235px;
    .p {
        margin: 0;
        text-wrap: balance;
        text-align: center;
        padding: 2px;
        @media screen and (max-width: 1399px) {
            font-size: 15px;
        }
    }
    
}
.h3 {
    color: #ffffff;
}
.nodata {
    color:#ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.space {
    margin-top: 35px;
}
.alignCenter {
    align-items: center;
    height: 85vh;
}
.swiperMb {
    @media screen and (max-width: 991px) {
        margin-bottom: 20px;
    }
}
.searchInput {
    background-color: #2f2f2f !important;
    border: none;
    width: 45%;
    color:#ffffff !important;
    display: block;
    padding: 10px 15px;
    margin: 15px auto;
    border-radius: 25px;
    outline: none;
    box-shadow: none;
}
.searchInput::placeholder  {
    color:#ffffff;
    @media screen and (max-width:401px) {
        font-size: 0.7rem;
    }
}
.searchInput:focus {
    outline: none;
    box-shadow: none;
    border-color: #ffffff !important;
}